{% extends 'szablon.html' %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% block title %} Rezerwacja kajaków {% endblock %}
{% load kod_generator %}

{% block body %}

{% block foo %}
    {% include "log_reg_bar.html" %}
    {% include "navbar.html" %}
{% endblock %}
<br>

<div class="card">
      <div class="card-body">
          <h5 class="card-title">Rezerwacja kajaków</h5>
        <form role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{ zamowienie.imię|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ zamowienie.nazwisko|as_crispy_field }}
                </div>
            </div>
            <div>
                {{ zamowienie.email|as_crispy_field }}
            </div>
            <div class="row">
                <div class="col-6">
                    {{ zamowienie.data|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ zamowienie.godzina|as_crispy_field }}
                </div>
            </div>
            <div>
                {{ zamowienie.trasa|as_crispy_field }}
            </div>
            <br>
            <div>
                <div>
                    <h5><center>Wybór kajaków</center></h5>
                </div>
                <br>
                <div class="row border rounded" style="background-color: #f5f5f5">
                    <h5 class="col-5 my-auto mx-3">Kajaki jednoosobowe:</h5>
                    <div class="col-2 my-auto">
                        {{ zamowienie.traper|as_crispy_field }}
                    </div>
                    <div class="col-2 my-auto">
                        {{ zamowienie.jett|as_crispy_field }}
                    </div>
                </div>
                <br>
                <div class="row border rounded" style="background-color: #eeeeee">
                    <h5 class="col-5 my-auto mx-3">Kajaki dwuosobowe:</h5>
                    <div class="col-2 my-auto">
                        {{ zamowienie.finder|as_crispy_field }}
                    </div>
                    <div class="col-2 my-auto">
                        {{ zamowienie.eoli|as_crispy_field }}
                    </div>
                    <div class="col-2 my-auto">
                        {{ zamowienie.protour|as_crispy_field }}
                    </div>
                </div>
                <br>
                <div class="row border rounded" style="background-color: #e0e0e0">
                    <h5 class="col-5 my-auto mx-3">Kajaki trzyosobowe:</h5>
                    <div class="col-2 my-auto">
                        {{ zamowienie.family|as_crispy_field }}
                    </div>
                    <div class="col-2 my-auto">
                        {{ zamowienie.koga|as_crispy_field }}
                    </div>
                    <div class="col-2 my-auto">
                        {{ zamowienie.kanu|as_crispy_field }}
                    </div>
                </div>
            </div>
            <br>
            <div>
                <p>A random value,{% kod_generator 100 999 %}</p>
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Zapisz</button>
            <a class="btn btn-primary" href="{% url 'startowa' %}" style="float: right">Cofnij</a>
        </form>
      </div>
</div>
{% endblock %}
<!--<div class="card">-->
<!--  <div class="card-body">-->
<!--      <h5 class="card-title">Rezerwacja kajaków</h5>-->
<!--    <form role="form" method="post" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--        {{zamowienie|bootstrap}}-->
<!--        <button type="submit" class="btn btn-primary">Zapisz</button>-->
<!--        <a class="btn btn-primary" href="{% url 'startowa' %}" style="float: right">Cofnij</a>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
