{% extends 'szablon.html' %}
{% load bootstrap %}
{% block title %} Navbar {% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light border border-dark rounded" style=" width: 700px; background-color: white">
        <a class="navbar-brand" href="https://krutyniasplywy.pl/">
        <img id="logo" src="/media/wanplac.png" onerror="this.onerror=null; this.src='Default.jpg'" width="100" height="77" class="d-inline-block align-top" alt="">
        </a>
        <div class="nav nav-pill mb-0 h1" id="navbarNav">
            <ul class="navbar-nav">
              <li class="navbar-brand">
                <a class="nav-link" href="{% url 'startowa' %}">Startowa</a>
              </li>
              <li class="navbar-brand">
                  <a class="nav-link" href="{% url 'my_order' %}">Moje rezerwacje</a>
              </li>
              <li class="navbar-brand">
                <a class="nav-link" href="{% url 'faq' %}">Pytania i odpowiedzi</a>
              </li>
            </ul>
        </div>
    </nav>

{% endblock %}