{% extends 'szablon.html' %}

{% block title %} Rezerwacja {% endblock %}

{% block body %}
   <div class="jumbotron" style="width: 700px">
      <h1 class="display-6">
          {% if user.is_authenticated %}
                Witaj {{ user.username }}<br>
                <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
          {% else %}
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
          {% endif %}
      </h1>
       <hr class="my-8">
       <p>Lista rezerwacji</p>
   </div>

{% for rezerwacja in rezerwacje %}
    <div class="card">
      <div class="card-body">
         <div class="row">
             <div class="col-sm-9">
                 <h2>{{rezerwacja}}</h2>
             </div>
         </div>
          <div class="row">
            <p class="desc">{{rezerwacja.data}}</p>
          </div>
      </div>
    </div>

{% endfor %}

{% endblock %}