{% extends 'szablon.html' %}

{% block title %} Startowa {% endblock %}

{% block body %}

    <div class="jumbotron" style="width: 700px">
      <h1 class="display-6">
          {% if user.is_authenticated %}
          Witaj {{ user.username }}<br>
                <a class="btn btn-primary" href="{% url 'logout' %}">Wyloguj się</a>
          {% else %}
                Niezalogowany użytkownik<br>
                <a class="btn btn-primary" href="{% url 'login' %}">Zaloguj się</a>
          <hr class="my-6">
            <h6><b><i>Drogi użytkowniku!</i></b><br>
            Zanim zaczniesz korzystać z naszej aplikacji zapoznaj się z poniższymi informacjami:
            <li>W celu przeglądania dostępnych <b>kajaków</b> nie trzeba mieć założonego konta</li>
            <li>W celu przeglądania dostępnych <b>tras kajakowych</b> nie trzeba mieć założonego konta</li>
            <li>Aby dokonać rezerwacji <b>niezbędne</b> jest posiadanie konta użytkownika!</li>
            <li>Jeśli posiadasz konto, kliknij niebieski przycisk <b>Zaloguj się</b></li>
            <li>Jeśli nie posiadasz konta, przejdź do strony rejestracji, kliknij:</li>
            <br>
             <a class="btn btn-primary" href="{% url 'signup' %}">Zarejestruj się</a></h6>
          {% endif %}
      </h1>

   </div>

{% for pozycja in pozycje %}
    <div class="card">
      <div class="card-body">
         <div class="row">
             <div class="col-sm-9">
                 <h2>{{pozycja}}</h2>
             </div>
             <div class="col-sm-3">
                 {% if pozycja.obszar_nieedytowalny == "Kajaki" %}
                    <a href="{% url 'kajaki' %}"><i class="fas fa-2x fa-edit"></i></a>
                 {% elif pozycja.obszar_nieedytowalny == "Trasy" %}
                    <a href="{% url 'trasy' %}"><i class="fas fa-2x fa-edit"></i></a>
                 {% else %}
                    <a href="{% url 'order' %}"><i class="fas fa-2x fa-edit"></i></a>
                 {% endif %}
             </div>
         </div>
      </div>
    </div>
{% endfor %}

{% endblock %}