{% extends 'szablon.html' %}

{% block title %} Startowa {% endblock %}

{% block body %}

{% block foo %}
   {% include "navbar.html" %}
{% endblock %}
<br>

    <div class="jumbotron border border-dark bg-white" style="width: 700px">
      <h1 class="display-6">
          {% if user.is_authenticated %}
          Witaj {{ user.username }}<br>
          {% else %}
                Niezalogowany użytkownik<br>
          <hr class="my-6">
            <h6><b><i>Drogi użytkowniku!</i></b><br>
                Zanim zaczeniesz korzystać z aplikacji zajrzyj do działu FAQ!
          {% endif %}
      </h1>

   </div>

{% for pozycja in pozycje %}
    <div class="card">
      <div class="card-body">
         <div class="row">
             <div class="col-sm-9">
                 <h2>{{pozycja}}</h2>
             </div>
             <div class="col-sm-3">
                 {% if pozycja.obszar_nieedytowalny == "Kajaki" %}
                    <a href="{% url 'kajaki' %}"><i class="fas fa-2x fa-edit"></i></a>
                 {% elif pozycja.obszar_nieedytowalny == "Trasy" %}
                    <a href="{% url 'trasy' %}"><i class="fas fa-2x fa-edit"></i></a>
                 {% else %}
                    <a href="{% url 'nowe_zamowienie' %}"><i class="fas fa-2x fa-edit"></i></a>
                 {% endif %}
             </div>
         </div>
      </div>
    </div>
{% endfor %}

{% endblock %}