{% extends 'szablon.html' %}

{% block title %} Startowa {% endblock %}

{% block body %}

<!--<p class="font-weight-bold font-italic text-center" style=" width: 700px; font-size: 20px" >-->
<!--    Witamy na stronie automatycznej rezerwacji kajaków firmy-->
<!--    <br><a href="https://krutyniasplywy.pl/" class="text-reset">Wan-Plac Krutyń</a>-->
<!--</p>-->

{% block foo %}
    {% include "log_reg_bar.html" %}
    {% include "navbar.html" %}
<br>

    {% include "jumbotron.html" %}
{% endblock %}

{% for pozycja in pozycje %}
    <div class="card">
      <div class="card-body">
         <div class="row">
             <div class="col-sm-9">
                 <h2>{{pozycja}}</h2>
             </div>
             <div class="col-sm-3">
                 {% if pozycja.obszar_nieedytowalny == "Kajaki" %}
                    <a href="{% url 'kajaki' %}"><i class="fas fa-2x fa-edit"></i></a>
                 {% elif pozycja.obszar_nieedytowalny == "Trasy" %}
                    <a href="{% url 'trasy' %}"><i class="fas fa-2x fa-edit"></i></a>
                 {% else %}
                    <a href="{% url 'nowe_zamowienie' %}"><i class="fas fa-2x fa-edit"></i></a>
                 {% endif %}
             </div>
         </div>
      </div>
    </div>
{% endfor %}

{% endblock %}